<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sandbox Site</title>
</head>
<body>
  {{> header}}
  
  <h2>{{screamIt welcomeMessage}}</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur doloremque vitae sapiente quam commodi ullam aperiam quas rem aliquam? Maiores eum aperiam nisi accusamus veniam, sunt, error culpa esse sed.</p>

  {{> footer}}
</body>
</html>