<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sandbox Site</title>
</head>
<body>
  <h1>Maintenance page</h1>
  <p>The site is currently updating. Go make yourself some coffee - we'll be really soon!</p>
</body>
</html>